{% extends 'base.html' %}

{% block title %}Books{% endblock %}

{% block content %}
    <article role="main" class="page-content page-books">
        <section class="page-books__choice">
            <h2>Editors' Choice</h2>
            <p>Books, officially approved by JetBrains for learning Kotlin</p>
            <div class="g-9">
                <h3>Head first Kotlin</h3>
                <div class="book-lang">en</div>
                <a href="https://www.oreilly.com/library/view/head-first-kotlin/9781491996683/"><img
                        src="{{ url_for('asset', path='images/Head_first.jpeg') }}" class="book-cover-image"></a>
                <p><a href="https://www.oreilly.com/library/view/head-first-kotlin/9781491996683/">Head First Kotlin</a>
                    is a complete introduction to coding in Kotlin. This hands-on book helps you learn the Kotlin language with a unique method that goes beyond syntax and how-to manuals and teaches you how to think like a great Kotlin developer. You’ll learn everything from language fundamentals to collections, generics, lambdas, and higher-order functions. Along the way, you’ll get to play with both object-oriented and functional programming. If you want to really understand Kotlin, this is the book for you.</p>

                <h3 style="clear: left">Kotlin in Action</h3>
                <div class="book-lang">en</div>
                <a href="https://manning.com/books/kotlin-in-action"><img
                        src="{{ url_for('asset', path='images/kotlin-in-action.png') }}" class="book-cover-image"></a>
                <p><a href="https://manning.com/books/kotlin-in-action">Kotlin in Action</a> teaches you to use the Kotlin
                    language for
                    production-quality applications. Written for experienced Java developers, this example-rich book goes
                    further than
                    most language books, covering interesting topics like building DSLs with natural language syntax.</p>
                <p>The book is written by Dmitry Jemerov and Svetlana Isakova, developers on the Kotlin team.</p>
                <p>Chapter 6, covering the Kotlin type system, and chapter 11, covering DSLs, are available as a free preview on
                    the
                    <a href="https://www.manning.com/books/kotlin-in-action#downloads">publisher Web site</a>.</p>

                <h3 style="clear: left">Kotlin Programming: The Big Nerd Ranch Guide</h3>
                <div class="book-lang">en</div>
                <a href="https://www.amazon.com/Kotlin-Programming-Nerd-Ranch-Guide/dp/0135161630"><img
                        src="{{ url_for('asset', path='images/The_Big_Nerd.jpg') }}" class="book-cover-image"></a>
                <p><a href="https://www.amazon.com/Kotlin-Programming-Nerd-Ranch-Guide/dp/0135161630">Kotlin Programming: The
                    Big Nerd Ranch Guide.</a>
                    In this book you will learn to work effectively with the Kotlin language through
                    carefully considered examples designed to teach you Kotlin’s elegant style and features.
                    Starting from first principles, you will work your way to advanced usage of Kotlin,
                    empowering you to create programs that are more reliable with less code.</p>

                <h3 style="clear: left">Programming Kotlin</h3>
                <div class="book-lang">en</div>
                <a href="https://pragprog.com/book/vskotlin/programming-kotlin"><img
                        src="{{ url_for('asset', path='images/Programming_Kotlin.png') }}" class="book-cover-image"></a>
                <p>
                    <a href="https://pragprog.com/book/vskotlin/programming-kotlin">Programming Kotlin</a>
                    is a book by Venkat Subramaniam. Programmers don’t just use Kotlin, they love it. Even Google has adopted it as a first-class language for Android development. With Kotlin, you can intermix imperative, functional, and object-oriented styles of programming and benefit from the approach that’s most suitable for the problem at hand. Learn to use the many features of this highly concise, fluent, elegant, and expressive statically typed language with easy-to-understand examples. Learn to write maintainable, high-performing JVM and Android applications, create DSLs, program asynchronously, and much more.</p>

                <h3 style="clear: left">The Joy of Kotlin</h3>
                <div class="book-lang">en</div>
                <a href="https://www.manning.com/books/the-joy-of-kotlin"><img
                        src="{{ url_for('asset', path='images/Joy_of_Kotlin.png') }}" class="book-cover-image"></a>
                <p><a href="https://www.manning.com/books/the-joy-of-kotlin">The Joy of Kotlin</a>
                    teaches you the right way to code in Kotlin. In this insight-rich book,
                    you'll master the Kotlin language while exploring coding techniques that will make you a better developer
                    no matter what language you use. Kotlin natively supports a functional style of programming,
                    so seasoned author Pierre-Yves Saumont begins by reviewing the FP principles of immutability,
                    referential transparency, and the separation between functions and effects.
                    Then, you'll move deeper into using Kotlin in the real world, as you learn to handle errors and data
                    properly,
                    encapsulate shared state mutations, and work with laziness. This book will change the way you code — and
                    give you back some of the joy you had when you first started.
                </p>
            </div>
        </section>

        <!-- OTHER BOOKS -->
        <section class="page-books__others g-9">
            <h3 style="clear: left">Modern Web Development with Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://leanpub.com/modern-web-development-with-kotlin"><img
                    src="{{ url_for("asset", path="images/mwdwk.jpg") }}" class="book-cover-image"></a>
            <p><a href="https://leanpub.com/modern-web-development-with-kotlin">Modern Web Development with Kotlin</a> is a
                book
                by Denis Kalinin about Web development with Kotlin. It covers just enough basics to get started but mostly
                concentrates
                on the practical aspect of using the language. In particular, it guides you through the process of building
                a technology-packed Web application while using popular backend and frontend technologies.</p>

            <h3 style="clear: left">Fundamental Kotlin, Second Edition</h3>
            <div class="book-lang">en</div>
            <a href="http://www.fundamental-kotlin.com"><img
                    src="{{ url_for('asset', path='images/fundamental-kotlin.jpg') }}" class="book-cover-image"></a>
            <p><a href="http://www.fundamental-kotlin.com/">Fundamental Kotlin</a> is the second edition of the
                Fundamental Kotlin book. It extends Fundamental Kotlin book and brings us fresh examples of Kotlin
                programming language use.</p>

            <h3 style="clear: left">Programmer's Guide To Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://www.amazon.com/Programmers-Guide-Kotlin-Mike-James/dp/1871962536"><img
                    src="{{ url_for('asset', path='images/programmers_guide_kotlin_image.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.amazon.com/Programmers-Guide-Kotlin-Mike-James/dp/1871962536">Programmer's Guide to
                Kotlin</a>
                is a book by Mike James for introducing Kotlin to programmers. The book helps you understand the Kotlin
                language in-depth
                so you can easily go on to create better, more robust programs.</p>

            <h3 style="clear: left">Kotlin</h3>
            <div class="book-lang">tr</div>
            <a href="https://www.kuramkitap.com/kotlin"><img
                    src="{{ url_for('asset', path='images/kotlin_in_turkish.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.kuramkitap.com/kotlin">Kotlin</a>
                by Mehmet Ali SICAK was created to introduce Kotlin to programmers.
                This book is the first and currently only Kotlin book in Turkish.
                Published on the 17 July 2017, Kotlin covers a broad spectrum of topics from Kotlin and Innovations, Kotlin
                and Java,
                Kotlin and Android, what can be done with Kotlin, and working with null data in Kotlin. With detailed
                insight into using
                variables and data types, range concept, arrays, collections, object-based programming, interfaces, generic,
                abstract, inheritance, and override rules
                with Kotlin, with a lot of sample applications.
                This book provides beginners and intermediate programmers with information on the fundamental
                working principles of the Kotlin language, for a substantial foundation to build on when developing
                applications
                with Android. This book is in Turkish.</p>

            <h3 style="clear: left">Kotlin Apprentice</h3>
            <div class="book-lang">en</div>
            <a href="https://www.raywenderlich.com/196563/the-full-kotlin-apprentice-book-is-here"><img
                    src="{{ url_for('asset', path='images/Kotlin_Apprentice.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.raywenderlich.com/196563/the-full-kotlin-apprentice-book-is-here">Kotlin Apprentice</a>
                Kotlin Apprentice focuses on the Kotlin language fundamentals. If you’re new to the Kotlin language,
                there’s no need to be intimidated: This book starts with the basics of basics — an introduction
                to programming — and then takes you through Kotlin fundamentals.
                But, if you’re familiar with Kotlin, you’ll advance into more intermediate
                and nuanced features of the language, such as functional programming,
                conventions and operator overloading, and coroutines. Whatever your familiarity with the language,
                this book will teach you to organize and customize your code in Kotlin to create
                clean and modern apps in Kotlin.</p>

            <h3 style="clear: left">Kotlin Kompakt</h3>
            <div class="book-lang">de</div>
            <a href="https://www.amazon.de/dp/B07FBNMDPK/ref=as_li_ss_tl?s=books-intl-de&ie=UTF8&qid=1530990326&sr=8-1&keywords=B07FBNMDPK&linkCode=sl1&tag=schleinzer-21&linkId=2db900962b1261d5fb6cd430ccdea774"><img
                    src="{{ url_for('asset', path='images/Kotlin_kompakt.png') }}" class="book-cover-image"></a>
            <p>
                <a href="https://www.amazon.de/dp/B07FBNMDPK/ref=as_li_ss_tl?s=books-intl-de&ie=UTF8&qid=1530990326&sr=8-1&keywords=B07FBNMDPK&linkCode=sl1&tag=schleinzer-21&linkId=2db900962b1261d5fb6cd430ccdea774">Kotlin
                    Kompakt</a>
                is for Java professionals looking to get into Kotlin development in the least amount of time.
                By concentrating on the essentials in compact chapters, you'll get to know Kotlin within a few
                afternoons or subway commutes, and soon you'll be able to write your first Kotlin applications.
                As the title suggests, "Kotlin Kompakt" is not an all-encompassing work on Kotlin. Rather,
                its focus is on providing the necessary foundations and Kotlin's best features,
                which make it such a remarkable programming language.</p>

            <h3 style="clear: left">Kotlin - Les fondamentaux du développement d'applications Android</h3>
            <div class="book-lang">fr</div>
            <a href="https://www.editions-eni.fr/livre/kotlin-les-fondamentaux-du-developpement-d-applications-android-9782409015861"><img
                    src="{{ url_for('asset', path='images/EPKOT.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.editions-eni.fr/livre/kotlin-les-fondamentaux-du-developpement-d-applications-android-9782409015861">Kotlin
                - Les fondamentaux du développement d'applications Android</a>, a book by
                Anthony Cosson, published by Editions ENI. The first four chapters of the book
                are dedicated to Kotlin language learning. The other chapters feature Android
                applications development with Kotlin. The book is made of many examples
                in order to quickly and easily implement a mobile app.</p>

            <h3 style="clear: left">Kotlin</h3>
            <div class="book-lang">it</div>
            <a href="https://www.apogeonline.com/libri/kotlin-massimo-carli/"><img
                    src="{{ url_for('asset', path='images/Kotlin_italian.png') }}" class="book-cover-image"></a>
            <p>
                <a href="https://www.apogeonline.com/libri/kotlin-massimo-carli/">Kotlin</a>
                è un linguaggio di programmazione open source ideato per interfacciarsi perfettamente con Java, ma anche JavaScript, attraverso una sintassi più concisa e chiara. A partire dal 2017 l'interesse verso Kotlin è cresciuto costantemente a seguito della decisione di Google di supportarlo come linguaggio principale per lo sviluppo di applicazioni Android, proprio come alternativa a Java.
                Questo manuale ne insegna i fondamenti privilegiando la pratica alla teoria. Dopo l'esplorazione dell'ambiente di sviluppo, si affronta la sintassi di base e i "mattoni" del linguaggio, con particolare attenzione alle funzioni. Quindi viene affrontata la programmazione a oggetti e quella funzionale, prima di concludere esplorando alcuni degli aspetti più avanzati, come l'interoperabilità con Java, i contract e le coroutine.
                Una lettura adatta sia a chi desidera conoscere un nuovo e moderno linguaggio, sia agli sviluppatori mobile che vogliono iniziare a sfruttare Kotlin per creare app Android.</p>

            <h3 style="clear: left">Effective Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://leanpub.com/effectivekotlin/"><img
                    src="{{ url_for('asset', path='images/Effective_Kotlin.png') }}" class="book-cover-image"></a>
            <p>
                <a href="https://leanpub.com/effectivekotlin/">Effective Kotlin</a>
                is a book by Marcin Moskala. Kotlin is a powerful and pragmatic language, but it's not enough to know about
                its features. We also need to know when they should be used and in what way. This book is a guide for Kotlin developers on how to become excellent Kotlin developers. It presents and explains in-depth the best practices for Kotlin development. Each item is presented as a clear rule of thumb, supported by detailed explanations and practical examples.</p>

            <h3 style="clear: left">Einstieg in Kotlin</h3>
            <div class="book-lang">de</div>
            <a href="https://www.rheinwerk-verlag.de/einstieg-in-kotlin_4847/"><img
                    src="{{ url_for('asset', path='images/Einstieg_in_Kotlin.png') }}" class="book-cover-image"></a>
            <p>
                <a href="https://www.rheinwerk-verlag.de/einstieg-in-kotlin_4847/">Einstieg in Kotlin</a>
                is a book by Thomas Theis. This book enables beginners to develop Android apps with Kotlin. You will learn all the important first steps and make yourself acquainted with the concepts of the programming language. Discover how to develop user interfaces and how to use various sensors and system services. Thanks to a lot of examples and clear code listings, readers will quickly learn how to store data, process audio and video recordings and use professional features like safe navigation, expansion functions and more. This book is specifically written for unexperienced Kotlin users;  however, developers switching from Java to Kotlin will benefit from the many examples and concise explanations as well. Note: This book is available in German only.</p>

            <h3 style="clear: left">Exploring Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://leanpub.com/exploring-kotlin"><img
                    src="{{ url_for('asset', path='images/Exploring-Kotlin.jpg') }}" class="book-cover-image"></a>
            <p>
                <a href="https://leanpub.com/exploring-kotlin">Exploring Kotlin</a>
                is a book by Hani M. K. In less than 100 pages, this book will cover Kotlin syntax and features in a straight and to the point explanation. You’ll explore Kotlin’s programming concepts such as classes, inheritance, properties, functions, lambdas, generics, coroutine and much more with examples. This book is suitable for beginners and busy programmers. </p>
        </section>

        <section class="page-books__android g-9">
            <h2>Android Programming</h2>

            <h3>Kotlin for Android Developers</h3>
            <div class="book-lang">en</div>
            <a href="https://leanpub.com/kotlin-for-android-developers"><img
                    src="{{ url_for('asset', path='images/kotlin-for-android-developers.png') }}" class="book-cover-image"></a>
            <p><a href="https://leanpub.com/kotlin-for-android-developers">Kotlin for Android Developers</a> is a book by
                Antonio Leiva showing
                how Kotlin can be used for creating an Android application from scratch.</p>

            <h3 style="clear: left">Android Apprentice</h3>
            <div class="book-lang">en</div>
            <a href="https://store.raywenderlich.com/products/android-apprentice"><img
                    src="{{ url_for('asset', path='images/Android_Apprentice.png') }}" class="book-cover-image"></a>
            <p><a href="https://store.raywenderlich.com/products/android-apprentice">Android Apprentice</a>
                If you’re completely new to Android or developing in Kotlin, this is the book for you.
                The Android Apprentice takes you all the way from building your first app, to submitting your app for sale.
                By the end of this book, you’ll be experienced enough to turn your vague ideas into real apps that you can
                release on the Google Play Store.
                You’ll build 4 complete apps from scratch — each app is a little more complicated than the previous one.
                Together, these apps will teach you how to work with the most common controls and APIs used by Android
                developers around the world.</p>

            <h3 style="clear: left">Kotlin for Android App Development</h3>
            <div class="book-lang">en</div>
            <a href="https://kotlinandroidbook.com/"><img
                    src="{{ url_for('asset', path='images/kotlin-for-android.png') }}" class="book-cover-image"></a>
            <p><a href="https://kotlinandroidbook.com">Kotlin for Android App Development</a>
                by Peter Sommerhoff, get a solid practical introduction and understanding into Kotlin,
                with hands-on practice over two sample apps. This book hits the sweet spot between theory
                and practice, teaching the best practices for object-orientation, functional programming,
                interoperability, and more in Kotlin with thousands of code examples.</p>
        </section>

        <p class="page-books__more"><a href="/docs/books/more.html">See more</a></p>
    </article>

{% endblock %}
